{% extends 'main/base.html' %}
{% load static %} }}
{% block title %}
    {{ title }}
{% endblock %}

{% block contects %}
    <h1>Статьи</h1>
    {% if articles %}
        {% for article in articles %}
            <div class="alert alert-warning mt-2">
                <h6>Дата публикации: {{ article.article_data }}</h6>
                <h4><a href="/articles/get/{{ article.id }}">{{ article.article_title }}</a></h4>
                <p>{{ article.article_text }}</p>
                <p><a href="/articles/addlike/{{ article.id }}/"> <img class="heart" src="{% static "heart.svg" %}"
                                                                       alt=""></a>{{ article.article_likes }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет статьей</p>
    {% endif %}
    <nav aria-label="...">

        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="/page/{{ articles.previous_page_number }}/">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">&laquo;</a></li>
            {% endif %}
            {% for page in articles.paginator.page_range %}
                {% if page == articles.number %}
                    <li class="page-item active"><a class="page-link" href="/page/{{ page }}/">{{ page }}</a></li>
                {% else %}
                    <li><a class="page-link" href="/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="/page/{{ articles.next_page_number }}/">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">&raquo;</a></li>
            {% endif %}
        </ul>

    </nav>
{% endblock %}
