{% extends 'main/base.html' %}
{% load static %} }}
{% block title %}
    {{ title }}
{% endblock %}

{% block contects %}
    <h1>Статья</h1>
    <h4>Дата публикации: {{ article.article_data }}</h4>
    <h2>{{ article.article_title }}</h2>
    <p>{{ article.article_text }}</p>
    <hr>
    <p>Коментарии</p>
    {% if comments %}
        {% for comment in comments %}
            <div class="alert alert-warning mt-2">
                <p>{{ comment.comments_text }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет коментариев</p>
    {% endif %}
    <p><img src="{% static "like1.png" %}" alt="" width="25px"
                        height="25px">{{ article.article_likes }}</p>
    <hr>
{% endblock %}